google form - lead management/workflow.json
{
  "name": "Lead Management Agent - Email Validation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1ZfXUX3MzL1Hr6g6BdqE0HiRwSPu6QLa02oNFgl-7KP4",
          "mode": "list",
          "cachedResultName": "lms(Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZfXUX3MzL1Hr6g6BdqE0HiRwSPu6QLa02oNFgl-7KP4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1454444383,
          "mode": "list",
          "cachedResultName": "mom",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZfXUX3MzL1Hr6g6BdqE0HiRwSPu6QLa02oNFgl-7KP4/edit#gid=1454444383"
        },
        "event": "rowAdded",
        "options": {}
      },
      "id": "a4d1a181-cc79-4f5f-b5ee-647775652e00",
      "name": "Google Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -704,
        128
      ],
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "PQuRO58Qqrw0ExtW",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first().json;\n\nconst name = (row.name || '').toString().trim();\nconst email = (row.email || '').toString().trim();\nconst budget = (row.budget || '').toString().trim();\n\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nconst isValid = emailRegex.test(email);\n\nreturn {\n  json: {\n    name,\n    email,\n    budget,\n    isValid,\n    reason: isValid ? '' : 'Invalid email format',\n    submittedAt: new Date().toISOString()\n  }\n};"
      },
      "id": "0dfd7a11-88da-466d-877c-82551e622a5b",
      "name": "Validate Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e293c1ac-7f5a-4964-8d06-e4c55a4b1695",
      "name": "Is Email Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -256,
        128
      ]
    },
    {
      "parameters": {
        "sendTo": "chhavig926@gmail.com",
        "subject": "=New Qualified Lead: {{ $json.name }}",
        "emailType": "text",
        "message": "=New lead captured and validated.\n\nName: {{ $json.name }}\nEmail: {{ $json.email }}\nBudget: {{ $json.budget }}\nSubmitted At: {{ $json.submittedAt }}",
        "options": {}
      },
      "id": "d5481e42-0187-4e1c-92b9-eac85d78fd25",
      "name": "Notify Owner",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -96,
        0
      ],
      "webhookId": "owner-mail-webhook",
      "credentials": {
        "gmailOAuth2": {
          "id": "bnJkb2iT8f5WQ6LV",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Thanks for reaching out!",
        "emailType": "text",
        "message": "=Hi {{ $json.name }},\n\nThank you for your interest. We've received your details and our team will contact you shortly.\n\nBest,\nTeam",
        "options": {}
      },
      "id": "23d4d264-4005-493c-988f-9f89f671cc03",
      "name": "Notify Lead (Valid)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        96,
        128
      ],
      "webhookId": "lead-mail-valid-webhook",
      "credentials": {
        "gmailOAuth2": {
          "id": "XuV09RLEfNb3ZjfP",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "chhavig926@gmail.com",
        "subject": "There was an issue with in submission",
        "emailType": "text",
        "message": "=lead filled invalid email. Please connect with them manually through contact number{{ $('Google Sheets Trigger').item.json['phone number'] }}",
        "options": {}
      },
      "id": "21ad195d-218b-4e43-9576-8273c0dad2f2",
      "name": "Notify owner (Invalid)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -32,
        256
      ],
      "webhookId": "lead-mail-invalid-webhook",
      "credentials": {
        "gmailOAuth2": {
          "id": "PPhSneHpfxnHujrI",
          "name": "Gmail account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Validate Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Email": {
      "main": [
        [
          {
            "node": "Is Email Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Email Valid?": {
      "main": [
        [
          {
            "node": "Notify Owner",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Lead (Valid)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify owner (Invalid)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ae46d1c4-98d7-4987-bc14-55a639446782",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "384402d2d88c9eb0af8481e5945d04d4f7167bea7265010c94dc2fd40cb3d56a"
  },
  "nodeGroups": [],
  "id": "Hc3aIGE9ueaoSlEc",
  "tags": []
}
